@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to bottom, #00c3ff,#8c00ff);
    font-family: Arial, Helvetica, sans-serif;
    
}

.comeco {
    height: 25vh;
    margin-bottom: 3px;
    background-image: url('Imagens/capa5.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
    padding: 10px;
}

.comeco a {
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 1.4em;
    font-family: 'Bebas Neue' , sans-serif;
}

.comeco a:hover{
    background-color: blueviolet;
}

.anuncio{
    max-width: 100%;
    max-height: 100%;
}
.patrocinadores{
    height: 100%;
    width: auto;
}
main{
    background-color: #b9e9ff;
    min-width: 300px;
    max-width: 1500px;
    margin: auto;
    margin-top: -3px; 
    border-bottom-left-radius:10px;
    border-bottom-right-radius: 10px; 
}


article {
    background-image: url('Imagens/fundo\ main.png');
}
article h1{
    font-family: 'Orbitron', sans-serif;
    color: linear-gradient(to right, #8c00ff, #00c3ff);
    padding: 10px;
    font-size: 5em;
    text-align: center;
}
article p {
    margin: 0px 30px 10px 30px;
    padding-bottom: 10px;
    text-align: justify;
}
aside{
    padding: 10px;
    margin: 10px;
    
}
.info{    
    
    display: inline-block;
    background-color: rgb(169, 169, 255);
    width: 350px;
    height: 800px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 3px;
    overflow: hidden;
    font-family: 'Bebas Neue' , sans-serif;
}

.info h2{
    text-align: center;
    padding: 10px;
    font-size: 2em;
}
.info p{
    margin: 5px;
    padding: 5px;
    font-size: 1.2em;
}
aside ul{
    list-style-position: inside;
}

ul li{
    text-indent: 10px;
    font-size: 1.2em;
}

.apoio{
    color: blueviolet;
    text-decoration: none;
    text-align: left;
    padding:120px 40px 70px 120px;
    font-size: 1.6em;
    min-width: 500px;
}
.apoio a {
    font-family: 'Bebas Neue' , sans-serif;
    text-align: center;
    display: inline-block;
    position: relative;
    color: blueviolet;
    text-decoration: none;
    margin: auto;
    padding: 40px 15px;
    width: 220px;
    height: 120px;   
}
.apoio .icon-cafe {
    position: absolute;
    top: 10px;
    left: 45%;
}
.apoio .icon-agenda {
    position: absolute;
    top: 10px;
    left: 45%;
}
.apoio .icon-sub {
    position: absolute;
    top: 10px;
    left: 44%;
}
.apoio .icon-sociais {
    position: absolute;
    top: 10px;
    left: 42%;
}

footer{
    font-family: 'Bebas Neue' , sans-serif;
    font-size: 1.4em;
    text-align: center;
    background-color: black;
    color: white;
}
  
footer a {
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: blueviolet;
}